.menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
  .item{
    padding: 5px;
    .link{
      display: flex;
      align-items: center;
      gap: 15px;
      span{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}