.layout{
  overflow-x: hidden;
  .content{
    display: grid;
    grid-template-columns: 320px 1fr  1fr;
    grid-template-rows: 70px 1fr auto;
    grid-template-areas: 
      "sidebar navbar navbar"
      "sidebar content content";
    min-height: 100vh;
    & >div{
      padding: 10px;
    }
    .main{
      grid-area: content;
      padding: 10px;
    }
  }
}