.sidebar{
  grid-area: sidebar;
  border-right: 1px solid var(--border-color);
  > div {
    padding: 10px;
  }
  .body{
    height: 90%;
    .menu{
      display: flex;
      flex-direction: column;
      gap: 15px;
      .item{
        &:nth-child(2) {
          padding-top: 12px;
          border-top: 1px solid var(--border-color);
        }
      }
    }
  }
  .end{
    display: flex;
    align-items: flex-end;
    height: 10%;
  }
}